{% extends "todo_list_app/base.html" %} #Добавляем ссылку на родительский шаблон.
{% block content %}
   <form method="post"> {% csrf_token %} 
       <p>  Вы действительно хотите удалить
           <em>"{{ todolist.title }}"</em>
           созданную {{ todolist.date_created|date:'Y-m-d' }}?
       </p>
       <input type="submit" value="Подтвердить"> 
   </form>
   <a href="{% url 'todo-list-detail' todolist.id %}">
       <button>Отмена</button>
   </a>
{% endblock %}