{% extends "todo_list_app/base.html" %}
{% block content %}
   <form method="post">
         {% csrf_token %}
       {{ form.as_p }} 
       <input type="submit" value="Сохранить">
   </form>
   {% if todolist %}
       <a href="{% url 'todo-list-detail' todolist.id %}">
           <button>Отмена</button>
       </a>
   {% else %}
       <a href="{% url 'todo-list' %}">
           <button>Отмена</button>
       </a>
   {% endif %}
{% endblock %}