{% extends "todo_list_app/base.html" %}
 
{% block content %}

<article>
    <h2>{{ todolist.date_created|date:'Y-m-d H:i' }}</h2> 
    <h3>{{ todolist.title }}</h3> 
    <p>{{ todolist.descriptions }}</p> 
 </article>

 <p>
    <a href="{% url 'todo-list-update' todolist.id%}"><button>Редактировать</button></a>
    <a href="{% url 'todo-list-delete' todolist.id%}"><button>Удалить</button></a>
</p>

 {% endblock %}