{% extends "todo_list_app/base.html" %} 

{% block content %} 

    <article>
        <h2 class="mark">{% now "Y-m-d H:i" %}</h2>
        <a href="{% url 'todo-list-create' %}"><button>Добавить новую запись</button></a>
    </article>

    {% for todolist in todolist_list%}  
        <article>
            <h2 class="{{ todolist.date_created|date:'l' }}">
                {{ todolist.date_created|date:'Y-m-d H:i' }}
            </h2>
            <h3>
                <a href="{% url 'todo-list-detail' todolist.id %}">
                    {{ todolist.title }}
                </a>
            </h3>
        </article>
        <p>
            <a href="{% url 'todo-list-update' todolist.id%}"><button>Редактировать</button></a>
            <a href="{% url 'todo-list-delete' todolist.id%}"><button>Удалить</button></a>
        </p>
    {% endfor %}

    

{% endblock %}